name: lint

on: workflow_call

jobs:
  lint-typecheck:
    name: Lint and Type Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: setup mpi
        uses: mpi4py/setup-mpi@v1

      - name: install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.2"
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'
      - name: check pyproject.toml
        run: cat pyproject.toml

      - name: Install dependencies
        run: uv sync --group mpi --group test

      - name: install analysis dependencies
        run: uv run opencosmo install haloviz --dev

      - name: Run ruff linter
        run: uv run ruff check .

      - name: Run mypy type checker
        run: uv run mypy src/opencosmo

 
